doctype html
html
  head
    title Chatroom
    | &#x9;&#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/chat.css')
    | &#x9;&#x9;
    script(type='text/javascript', src='javascripts/jquery-2.1.4.min.js')
    | &#x9;&#x9;
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.2.0.js')

    | &#x9;&#x9;
    script(type='text/javascript').
      
      $(function() {
        $("#messageDiv input").keypress(function(event) {       
          if (event.keyCode == 13) 
            newMsg();
        });
      });

      var socket = io();

      function getuserid() {
      
        var url = location.href;
        var userid = url.split("?");

        return userid[1];
      }

      function printhello(){
        var user=getuserid();
        var hello = document.getElementById("hellouser");
        var now = new Date();
        var h = now.getHours();
        var m = now.getMinutes();
        var s = now.getSeconds();
        if (user != ""){
            hello.innerHTML = "Hello, "+user;
            var usermsg= "[ " + user + " join chatroom ] " +h+":"+m+":"+s;
            $.post("/message", {note:  usermsg });
            socket.emit('new user', usermsg);

        } 
      }

      function historyMsg() {
       
        $.getJSON("/message", function(data) {
          console.log(data);
          
          $.each(data, function(key, val) {
            console.log(val);
            $('#outputData').append($('<li>').text(val.note));
          });
        });
        setTimeout(function(){ printhello(); }, 1);
       
      }


      function newMsg() {
          var message = getuserid();
          message+= " : " + document.getElementById('inputarea').value ;
          socket.emit('chat message', message);
          
          $('#inputarea').val('');
          $.post("/message", {note: message});
        return false;
      }




      socket.on('chat message', function(msg){
        //當前使用者
        var usernamesplit = msg.split(" :");


        if (usernamesplit[0] == getuserid()){
          $('#outputData').append($('<li class="thisUser">').text(msg));
        }
        else{
          $('#outputData').append($('<li>').text(msg));
        }
        var scrollTop = $("#outputData")[0].scrollHeight;  
        $("#outputData").scrollTop(scrollTop); 
      });
      
      socket.on('new user', function(username){      
        $('#outputData').append($('<li class="UserEnter">').text(username));
        var scrollTop = $("#outputData")[0].scrollHeight;  
        $("#outputData").scrollTop(scrollTop); 
      });

      
  | &#x9;
  body(align='center' onload="historyMsg()")
    br
    h5#hellouser You haven't login
    

      
    
    div#messageDiv()
      ul#outputData()
      | &#x9;&#x9;&#x9;&#x9;
      br

      input#inputarea(type='text')
      | &#x9;&#x9;&#x9;&#x9;
      br
      | &#x9;&#x9;&#x9;&#x9;
      button#msgBtn(onclick='newMsg()') Submit!

