doctype html
html
  head
    title Login
    | &#x9;&#x9;

    link(rel='stylesheet', type='text/css', href='stylesheets/login.css')
    script(type='text/javascript', src='javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript').
      
      $(function() {
        $("#userinput").keypress(function(event) {       
          if (event.keyCode == 13) 
            userid();
        });
      });



      function userid() {
        var user = document.getElementById('userinput').value;
        if (user == "" ){
          alert("you didn't enter your name!");
        }
        else{
          var nextpage = "chatroom?"+user;
          window.location.replace(nextpage);
        }
      }



  | &#x9;
  body(align="center")

    div#messageDiv()
      H3#login LOGIN
      input#userinput(type='text' placeholder="Please enter your name")
      | &#x9;&#x9;&#x9;&#x9;
      br
      | &#x9;&#x9;&#x9;&#x9;
      input#go(type='image' src="images/login.png" onclick='userid()' )
     

