html {
	/*background-color: #E4E4E4;*/
	margin: 0;
	padding: 0;
}

body {
	font: 25px;
	line-height: 1.8889;
	color: #555753;

	margin: 0px;
	padding: 0px;
}

h5 {
    
    text-align: center;
    margin-top: 2px;
    color: #247BA0;
}



div {
    position: relative;
    _position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 703px;
    height: 405px;
    font: 21px;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: #E6EDE8;
    padding: 0px;
    
}



#inputarea {
    position: relative;    
    top: 0px;    
    width: 702px;
    border: 2px solid #E6EDE8;
    
    font: 20px ;
}

#outputData {
    position: relative;
    _position: relative;
    width: 703px;
    height: 400px;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    overflow: auto;
    color: #64ADA1;
}
#outputData li {
    padding: 5px 10px;
}

.UserEnter {
    color: #FF669B;
    
    
}


.thisUser {
    color: #175068;
    background: #FFFFDD;
}



button {
    position: relative;
    _position: relative;
    top: -31px;
    left: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 25px;
    border:2px solid #175068;
    font: 15px;
    color: #FFFFDD;
    background-color: #175068;
}
