html {
	margin: 0;
	padding: 0;
}

body {
	font: 25px;
	
	color: #555753;

	margin: 0px;
	padding: 0px;

}

div {
    margin-top: 20%;
    background-color: #E6EDE8;


}
@import url(http://fonts.googleapis.com/css?family=Montserrat);

#login{
    color:#64ADA1;
    font-family: 'Montserrat', sans-serif;
}




.button {
    border: none;
    background: url('/images/login.png') no-repeat top left;
    padding: 2px 8px;
}

#go{
    width:35px;
    height:35px;
    opacity:80;
}

